.button-grid {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 600px;
  margin: auto;
}

.table-responsive {
  max-width: 1000px;
  margin: auto;
}

th.table-header {
  color: #fff;
  background-color: #007bff;
}

table td {
  text-align: center;
  vertical-align: middle;
}

.event-image {
  width: 100px;
  height: auto;
}
