body,
h1,
table {
  font-family: "Arial", sans-serif;
}

#eventContainer {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1000px;
  padding: 20px;
}

#eventForm {
  background-color: #ffffff;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  width: 50%;
}

#eventForm h1,
#eventTable h1 {
  color: #333333;
  text-align: center;
}

#eventForm input[type="text"],
#eventForm input[type="number"],
#eventForm input[type="url"],
#eventForm input[type="date"],
#eventForm select {
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

#eventForm input[type="submit"],
#eventForm input[type="reset"],
#clearEvents {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
  font-size: 16px;
  margin: 0 5px;
  padding: 10px;
}

#eventForm input[type="submit"] {
  background-color: #4caf50;
  color: white;
}

#eventForm input[type="reset"] {
  background-color: #f44336;
  color: white;
}

#clearEvents {
  background-color: #7a7676;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
}

#eventTable table {
  background-color: #ffffff;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

#eventTable th,
#eventTable td {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  text-align: left;
}

#eventTable th {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  text-align: center;
}

#eventTable td {
  text-align: center;
}

.delete-button {
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}
