body {
  background-image: url("../resources/tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.field-container {
  background-image: url("../resources/formbg.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 2px;
  left: 80px;
}

.field-container input {
  display: block;
  margin-bottom: 10px;
}
